<div>
  <form
    [formGroup]="recipeForm"
    style="display: flex; flex-direction: column; margin: 10px"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <div>
      <button
        type="submit"
        class="btn btn-primary"
        style="height: 40px; width: 70px; align-self: flex-end"
        [disabled]="!recipeForm.valid"
      >
        Save
      </button>
      <button
        type="button"
        style="
          height: 40px;
          width: 70px;
          align-self: flex-end;
          background-color: #d44946;
        "
      >
        Cancel
      </button>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        formControlName="name"
      />
    </div>
    <small
      class="alert alert-danger"
      role="alert"
      *ngIf="
        recipeForm.controls.name.errors && recipeForm.controls.name.touched
      "
    >
      Name is required*
    </small>
    <div class="form-group">
      <label for="imageURL">Image URL</label>
      <input
        type="text"
        class="form-control"
        id="imageURL"
        name="imageURL"
        formControlName="imageURL"
      />
      <img
        *ngIf="recipeForm.value.imageURL"
        [src]="recipeForm.value.imageURL"
        alt="Image"
        style="max-width: 300px; max-height: 300px; margin: 10px"
      />
    </div>
    <small
      class="alert alert-danger"
      role="alert"
      *ngIf="
        recipeForm.controls.imageURL.errors &&
        recipeForm.controls.imageURL.touched
      "
    >
      URL is required*
    </small>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        name="description"
        formControlName="description"
      ></textarea>
    </div>
    <small
      class="alert alert-danger"
      role="alert"
      *ngIf="
        recipeForm.controls.description.errors &&
        recipeForm.controls.description.touched
      "
    >
      Description is required*</small
    >
    <hr style="width: 85%; margin: 20px 0px 20px" />

    <div class="form-group" formArrayName="ingredients">
      <div style="display: flex; flex-direction: column">
        <ng-container
          *ngFor="let ingredient of ingredients.controls; let i = index"
        >
          <div
            style="
              width: 80%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            "
          >
            <input
              type="text"
              class="form-control"
              id="ingredient-{{ i }}"
              name="ingredient-{{ i }}"
              placeholder="Your ingredient {{ i + 1 }}"
              [formControlName]="i"
              style="margin-bottom: 10px; width: 50%"
            />
            <input
              type="number"
              class="form-control"
              id="amount-{{ i }}"
              name="amount-{{ i }}"
              [formControlName]="i"
              style="margin-bottom: 10px; width: 50px"
            />
            <button
              type="button"
              style="height: 30px; width: 30px; background-color: #d1494a"
            >
              X
            </button>
          </div>
          <small
            class="alert alert-danger"
            role="alert"
            id="ingredient-error-{{ i }}"
          >
            Ingredients {{ i + 1 }} is required*
          </small>
        </ng-container>
      </div>
      <button
        type="button"
        style="
          height: 35px;
          width: 120px;
          margin-left: 10px;
          background-color: #52af52;
        "
        (click)="addIngredients()"
      >
        Add ingredient
      </button>
    </div>
  </form>
</div>
