.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
button {
  margin: 10px 5px;
  height: 40px;
  width: 70px;
  border-radius: 5px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input,
textarea {
  text-indent: 6px;
  width: 80%;
  overflow-x: auto;
  border-radius: 5px;
}
input {
  height: 25px;
}
textarea {
  height: 100px;
}
.form-group input[type="text"] {
  overflow: auto;
  white-space: nowrap;
}
input::content {
  overflow: visible;
}
small {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: red;
  margin-left: 2%;
}
.btn-success:disabled {
  background-color: #8fcb8f;
}
.btn-success:enabled {
  background-color: #51af52;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.add-btn {
  height: 35px;
  width: 120px;
  margin-left: 10px;
  background-color: #52af52;
}
.btn-err {
  background-color: #d44946;
}
img {
  max-width: 300px;
  max-height: 300px;
  margin: 10px;
}
hr {
  width: 85%;
  margin: 20px 0px 20px;
}
.ng-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
