<div>
  <form
    [formGroup]="recipeForm"
    (ngSubmit)="handleSaveRecipe()"
    novalidate
    *ngIf="recipeForm"
  >
    <div>
      <button type="submit" class="btn-success" [disabled]="!recipeForm.valid">
        Save
      </button>
      <button type="button" class="btn-err" (click)="handleCancelEdit()">
        Cancel
      </button>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        formControlName="name"
      />
    </div>
    <small
      class="alert alert-danger"
      role="alert"
      *ngIf="
        recipeForm.controls['name'].errors &&
        recipeForm.controls['name'].touched
      "
    >
      Name is required*
    </small>
    <div class="form-group">
      <label for="imageURL">Image URL</label>
      <input
        type="text"
        class="form-control"
        id="imageURL"
        name="imageURL"
        formControlName="imageURL"
      />
      <img
        *ngIf="
          recipeForm.value['imageURL'] && recipeForm.controls['imageURL'].valid
        "
        [src]="recipeForm.value.imageURL"
        alt="Image"
      />
    </div>
    <div
      *ngIf="
        recipeForm.controls['imageURL'].errors &&
        recipeForm.controls['imageURL'].touched
      "
    >
      <small
        class="alert alert-danger"
        role="alert"
        id="imageURL-error"
        *ngIf="getImageURLValidity()"
      >
        {{ getImageURLValidity() }}
      </small>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        name="description"
        formControlName="description"
      ></textarea>
    </div>
    <small
      class="alert alert-danger"
      role="alert"
      *ngIf="
        recipeForm.controls['description'].errors &&
        recipeForm.controls['description'].touched
      "
    >
      Description is required*</small
    >
    <hr />
    <div class="form-group" formArrayName="ingredients">
      <div
        style="display: flex; flex-direction: column"
        *ngFor="let ingredient of ingredients.controls; let i = index"
        [formGroupName]="i"
      >
        <ng-container>
          <div class="ng-container">
            <div
              class="form-group"
              style="margin-bottom: 10px; width: calc(50% - 20px)"
            >
              <input
                type="text"
                class="form-control"
                id="name-{{ i }}"
                name="name-{{ i }}"
                placeholder="Ingredient {{ i + 1 }}"
                formControlName="name"
              />
              <small
                class="alert alert-danger"
                role="alert"
                id="ingredient-name-error-{{ i }}"
                *ngIf="
                  ingredients.controls[i].get('name')?.errors &&
                  ingredients.controls[i].get('name')?.touched
                "
              >
                Ingredients {{ i + 1 }} is required*
              </small>
            </div>
            <div class="form-group" style="margin-bottom: 10px; width: 200px">
              <input
                type="number"
                class="form-control"
                min="1"
                placeholder="Quantity"
                id="quantity-{{ i }}"
                name="quantity-{{ i }}"
                formControlName="quantity"
              />
              <small
                class="alert alert-danger"
                role="alert"
                id="ingredient-quantity-error-{{ i }}"
                *ngIf="getQuantityValidity(i)"
              >
                {{ getQuantityValidity(i) }}
              </small>
              <!-- <small
                class="alert alert-danger"
                role="alert"
                id="ingredient-quantity-error-{{ i }}"
                *ngIf="
                  ingredients.controls[i].get('quantity')?.errors &&
                  ingredients.controls[i].get('quantity')?.touched
                "
              >
                Quantity {{ i + 1 }} is required*
              </small> -->
            </div>
            <button
              type="button"
              style="height: 30px; width: 30px; background-color: #d1494a"
              (click)="removeIngredients(i)"
            >
              X
            </button>
          </div>
        </ng-container>
      </div>
      <button type="button" class="add-btn" (click)="addIngredients()">
        Add ingredient
      </button>
    </div>
  </form>
</div>
